html {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

body {
	overflow: hidden;
	position: relative;
	margin: 0px;
}

.nav_container{
	position: absolute;
	z-index: 100;
	background: transparent;
	width: 100%;
}

.nav{
	position: relative;
	display: flex;
	width: 90vw;
	margin: 0 auto;
	justify-content: space-around;
	background: transparent;
}

.nav_link {
	padding: 0px 10px 0px 10px;
	margin: 0px 10px 0px 10px;
}

#loading {
	width: 6vh;
	height: 6vh;
	background: none;
}

#submit_link, #about_link {
	position: relative;
	top: -5vh;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	text-align: center;
}

#submit_link_container {
	min-width: 14vh;
	display: flex;
	justify-content: center;
}

#about_link_container {
	min-width: 30vh;
	display: flex;
	justify-content: center;
}

.navspan {
	font-size: 4vh;
	white-space: nowrap;
}

.body_map {
	width: 100%;
	height: 100vh;
	background-color: rgb(128, 128, 128);
}

.entry_view {
	position: absolute;
	z-index: 100;
	bottom: -50vh;
	left: 1vw;
	width: 96vw;
	height: 33vh;
	max-height: 33vh;
	background-color: rgba(0, 0, 0, 0.2);
	border: 10px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	overflow-y: auto;
}

.column_entry {
	padding: 5px;
	min-height: 150px;
	margin: 0px 0px 10px 0px;
	background-color:rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.column_entry a:hover {
    text-decoration: underline;
}

.column_entry_thumbnail {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 200px;
}

.submit_view {
	position: absolute;
	z-index: 100;
	top: 100vh;
	left: 1vw;
	width: 94vw;
	max-width: 94vw;
	height: 90vh;
	padding: 1vw;
	background-color: rgba(0, 0, 0, 0.2);
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.8);
	border: 10px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

.results_view {
	position: absolute;
	z-index: 100;
	top: 100vh;
	left: 10vw;
	width: 80vw;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
	border: 10px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

.results_view h2, .about_view h2 {
	margin-top: 6vh;
	font-size: 5vh;
}

.results_view h3, .about_view h3 {
	margin-top: 6vh;
	font-size: 5vh;
}

.results_view p, .about_view p {
	margin-left: 3vw;
	margin-right: 3vw;
	font-size: 3vh;
}

.about_view {
	position: absolute;
	z-index: 100;
	top: 100vh;
	left: 1vw;
	width: 94vw;
	height: 90vh;
	padding: 1vw;
	background-color: rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.8);
	border: 10px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

.about_view a {
	color: black;
}

.single_view {
	position: absolute;	
	z-index: 100;
	top: 100vh;
	left: 1vw;
	width: 92vw;
	max-height: 70vh;
	padding: 1vh;
	background-color: rgba(255, 255, 255, 0.8);
	border: 10px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	overflow-y: auto;
}

.single_view img {
	max-width: 800px;
	max-height: 800px;
	display: block;
	margin: 0 auto;
}

.single_view .column_entry {
	width: 70vw;
	margin: 0 auto;
}

.top_dialog_button {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-right: 20px;
	margin-top: 20px;
	width: 5vh;
	height: 5vh;
	text-align: center;
	vertical-align: center;
	border: 3px solid gray;
	cursor:pointer;
}

.top_dialog_button  span{
	font-size: 5vh;
	line-height: 4.5vh;
}

#submit_map {
	width: auto;
	margin-left: 0px auto;
	margin-right: 0px auto;
	height: 40vh;
	background-color: none;
	border: 1px solid gray;
}

.info {
	padding: 5px;
	border: 3px solid transparent;
}

.edit_comment {
	min-height: 24px;
}

.edit_date, .edit_streets, .edit_gps {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	min-width: 100px;
	min-height: 20px;
}

.moderation_queue_details {
	flex: 1;
	margin-left: 7px;
}

.details_top {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.details_bottom {
	margin-top: 10px;
	max-width: 450px;
}

.details_plate {
	display: flex;
	align-items: center;
}

.details_timeplace {
	margin-left: 10px;
	margin-top: 5px;
}

h2, h3 {
	margin-top: 0px;
	margin-bottom: -10px;
	font-size: 42px;
	font-family: 'Oswald', sans-serif;
	white-space: nowrap;
	text-align: center;
}

p {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 24px;
}

.main_font {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

span {
	padding: 0px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 2vh;
}

.medium {
	padding: 0px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 3vh !important;
}

.wide {
	display: block;
	width: 100%;
	margin-bottom: 5vh;
}

#character_limit {
	display: inline;
	margin: 0px;
	padding: 0px;
}

.file_container, .upload_button {
	height: 30vh;
	margin: 1vh auto 5vh auto;
	display: block;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	line-height: 30vh;
	background-color: lightgray;
    box-shadow: inset -2px -2px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
                inset 2px 2px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.submit_view span {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 5vh;
}

.v-centered {
	display: inline-block;
    vertical-align: middle;
    line-height: inherit;
}

#image_submission, #upload {
	visibility: hidden;
	position: absolute;
	-webkit-appearance: none;
	opacity: 0;
}

#plate {
	text-transform: uppercase;
	background: white;
	background-size: 100%;
	height: 20vh;
	font-size: 15vh;
	font-family: 'License-Plate';
	-webkit-appearance: none;
	padding: 0px;
}

#state, #datetimepicker, #street1, #street2{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	height: 12vh;
	font-size: 6vh;
	text-transform: uppercase;
	background: white;
	-webkit-appearance: none
}

textarea.comments {
	width: 100%;
	height: 40vh;
	margin-bottom: 2vh; 
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 5vh;
	-webkit-appearance: none;
}

input.submit_button {
	width: 100%;
	height: 40vh;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 5vh;
	-webkit-appearance: none;
	background-color: lightgray;
    box-shadow: inset -2px -2px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
                inset 2px 2px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

#spacer {
	display: inline-block;
	width: 400px;
	margin-right: 10px;
	text-align: right;
}

#form_results {
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	display: none;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: white;
}

#submit_another {
	display: block;
	width: 90%;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 5vh;
	margin: 0 auto;
	margin-bottom: 1vh;
	-webkit-appearance: none;
	background-color: lightgray;
    box-shadow: inset -2px -2px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
                inset 2px 2px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.p_wrap {
	width: 90%;
	margin: 0px;
	padding: 0px;
	white-space: normal;
}