@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.plate_name {
	display: flex;
	justify-content: flex-start;
}

.plate {
	min-width: 140px;
	text-align: center;
	border: 3px solid;
	border-radius: 5px;
	padding: 7px 0px 5px 0px;
	font-size: 42px;
	font-family: 'License-Plate';
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .2),
				2px 2px 0px 0px rgba(0, 0, 0, .2),
				3px 3px 0px 0px rgba(0, 0, 0, .2);
}

.CT {
	background: linear-gradient(#0099ff, white);
	border-color: #003399;
	color: #003399;
	box-shadow: 0px 0px 0px 3px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
}
.CT:before {
	content: "Connecticut";
	font-family: Serif;
	font-size: 12px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-bottom: -10px;
	padding-top: 2px;
	top: -8px;
	color: #003399;
	height: 13px;
	width: 100%;
}
.CT:after {
	content: "Constitution State";
	font-family: Serif;
	font-size: 8px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -10px;
	margin-bottom: 0px;
	color: #003399;
	margin-bottom: -5px;
	width: 100%;
}

.DE {
	background-color: #000099;
	color: yellow;
	border: 2px solid yellow;
	box-shadow: 0px 0px 0px 2px #000099,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
}
.DE:before{
	content: "THE FIRST STATE";
	color: yellow;
	font-family: Verdana;
	font-size: 8px;
	font-weight: 400;
	position: relative;
	display: block;
	width: 100%;
	margin-top: -6px;
	margin-bottom: -3px;
}
.DE:after{
	content: "DELAWARE";
	color: yellow;
	font-family: Arial;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	display: block;
	height: 8px;
	width: 100%;
	margin-top: -9px;
	margin-bottom: 2px;
}

.NONE, .UNKNOWN {
	border: 3px dashed gray;
	background: transparent;
	color: gray;
}

.NY {
	border-color: black;
	background-color: #e6b800;
	overflow: hidden;
}
.NY:before {
	content: "NEW YORK";
	font-family: Serif;
	font-size: 12px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-bottom: -12px;
	padding-top: 0px;
	top: -10px;
	color: #e6b800;
	background-color: black;
	height: 18px;
	width: 100%;
	border-bottom: 1px solid black;
}
.NY:after {
	content: "Empire State";
	font-family: Serif;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	left: -50%;
	display: block;
	color: black;
	border-top: 2px solid black;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 2px #e6b800;
	padding-top: 40px;
	margin-top: -50px;
	margin-bottom: -5px;
	width: 200%;
}

.NJ {
	background: linear-gradient(yellow, white);
	border-color: white;
	box-shadow: 0px 0px 0px 1px gray,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
}
.NJ:before {
	content: "New Jersey";
	font-family: Serif;
	font-size: 14px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-bottom: -8px;
	padding-top: 0px;
	top: -8px;
	color: black;
	height: 13px;
	width: 100%;
}
.NJ:after {
	content: "Garden State";
	font-family: Arial, Verdana;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -10px;
	margin-bottom: 0px;
	color: black;
	margin-bottom: -5px;
	width: 100%;
}

.NYPD {
	font-family: 'Alfa Slab One';
	color: blue;
	padding: 0px 5px 0px 5px;
	border: 4px solid #f1f3f3;
	background-color: white;
	box-shadow: 0px 0px 0px 1px gray,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
}

.NYPDsuffix {
	font-family: 'Alfa Slab One';
	font-size: 24px;
}

.FDNY {
	font-family: 'Arial Narrow';
	color: white;
	border-color: white;
	background-color: red;
	box-shadow: 0px 0px 0px 1px gray,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
}

.FL {
	color: green;
	border: 3px solid #eee;
	background-color: white;
	background: 
				radial-gradient(
					circle at 52% 68%,
					yellow 0%,
					yellow 2%,
					transparent 2%
				),
				radial-gradient(
					circle at 55% 60%,
					yellow 0%,
					yellow 2%,
					transparent 2%
				),
				radial-gradient(
					circle at 50% 55%,
					yellow 0%,
					yellow 2%,
					transparent 2%
				),
				radial-gradient(
					circle at 52% 68%,
					white 0%,
					white 6%,
					transparent 6%
				),
				radial-gradient(
					circle at 55% 60%,
					white 0%,
					white 6%,
					transparent 6%
				),
				radial-gradient(
					circle at 50% 55%,
					white 0%,
					white 6%,
					transparent 6%
				),
				radial-gradient(
					circle at 52% 60%,
					green 0%,
					green 10%,
					transparent 10%
				),
				radial-gradient(
					circle at 45% 65%,
					orange 0%,
					orange 13%,
					transparent 13%
				),
				radial-gradient(
					circle at 52% 42%,
					orange 0%,
					orange 11%,
					transparent 11%
				),
				white;
}
.FL:before {
	content: "MYFLORIDA.COM";
	font-family: 'Georgia';
	font-weight: 800;
	font-size: 12px;
	display: block;
	margin-top: -6px;
	margin-bottom: -4px;
}
.FL:after {
	content: "SUNSHINE STATE";
	font-family: 'License-Plate';
	font-size: 11px;
	display: block;
	margin-top: -9px;
	margin-bottom: -5px;
}

.PA {
	background: repeating-linear-gradient(
	  180deg,
	  #0000b3,
	  #0000b3 14px,
	  #ffffff 14px,
	  #ffffff 52px,
	  #ffdd00 52px,
	  #ffdd00 70px
	);
	padding-top: 8px;
	background-repeat: no-repeat;
	color: #0000b3;
	border: 1px solid #0000b3;
	box-shadow: 0px 0px 0px 3px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
}
.PA:before {
	content: "PENNSYLVANIA";
	color: white;
	font-family: Arial, Verdana;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -8px;
	height: 10px;
}
.PA:after {
	content: "visitPA.com";
	color: #0000b3;
	font-family: Arial, Verdana;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -5px;
	
}

.MA {
	background-color: white;
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 0px 3px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	color: #d80808;
}
.MA:before{
	content: "Massachusetts";
	color: #0c83f2;
	font-family: Serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -6px;
}
.MA:after{
	content: "The Spirit of America";
	color: #0c83f2;
	font-family: Serif;
	font-size: 8px;
	font-style: italic;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -6px;
}

.NH {
	background: linear-gradient(
					135deg,
					transparent 0%,
					transparent 60%,
					#75a3a3 60%,
					#75a3a3 70%,
					#517272 100%
				),
				linear-gradient(
					80deg,
					transparent 0%,
					transparent 50%,
					#888888 50%,
					#888888 60%,
					#ffffff 100%
				),
				linear-gradient(
					170deg,
					transparent 0%,
					transparent 50%,
					#777777 50%,
					#555555 63%,
					transparent 63%,
					transparent 100%
				),
				linear-gradient(
					145deg,
					transparent 0%,
					transparent 60%,
					#75a3a3 60%,
					#75a3a3 70%,
					#517272 100%
				),
				radial-gradient(
					circle at 30% 90%,
					white 0%,
					transparent 20%
				),
				linear-gradient(
					90deg,
					#b3e6ff 0%,
					white 100%
				);
	background-position: 0 0, 0 15, 62 -25, 15 -35, 0 0;
	background-repeat: no-repeat;
	border: 3px solid white;
	box-shadow: 0px 0px 0px 1px gray,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	color: #004d00;
}
.NH:before {
	content: "LIVE FREE OR DIE";
	color: #004d00;
	font-family: "Arial";
	font-size: 8px;
	font-style: bold;
	font-weight: 400;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -6px;
}
.NH:after {
	content: "NEW HAMPSHIRE";
	color: #004d00;
	font-family: Serif;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -4px;
}

.ME {
	background-color: white;
	background: linear-gradient(-60deg, #70a074 8px, transparent 0), linear-gradient(60deg, #70a074 8px, transparent 0);
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 10px 30px;
	border: 2px solid black;
	box-shadow: 0px 0px 0px 2px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	color: black;
}
.ME:before{
	content: "MAINE";
	color: black;
	font-family: Georgia, serif;
	font-size: 14px;
	font-weight: 800;
	position: relative;
	display: block;
	width: 100%;
	margin-top: -8px;
	margin-bottom: -8px;
}
.ME:after{
	content: "Vacationland";
	color: black;
	font-family: serif;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	position: relative;
	display: block;
	height: 8px;
	width: 100%;
	margin-top: -7px;
}

.GA {
	background-color: white;
	color: black;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 0px 2px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	background: radial-gradient(circle, white 0%, white 10%, #ffb26d 20%, #ffb26d 24%, white 12%, white 100%);
	
}
.GA:before{
	content: "GEORGIA";
	font-family: Georgia;
	font-size: 15px;
	font-weight: 400;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -4px;
	background: linear-gradient(90deg, green 0%, transparent 100%), linear-gradient(to top, green 0%, transparent 100%);
	background-position: 75px 15px, 70px 5px;
	background-size: 10%, 5% 50%;
	background-repeat: no-repeat, no-repeat;
}
.GA:after{
	content: "...on my mind";
	font-family: Arial;
	font-size: 9px;
	font-style: italic;
	font-weight: 400;
	position: relative;
	display: block;
	margin-top: -10px;
	margin-bottom: -4px;
}

.IA {
	background: linear-gradient(
					180deg,
					#eee,
					#eee
				),
				linear-gradient(
					180deg,
					#eee,
					#eee
				),
				linear-gradient(
					180deg,
					#eee,
					#eee
				),
				linear-gradient(
					180deg,
					white,
					white
				),
				linear-gradient(
					180deg,
					white,
					white
				),
				linear-gradient(
					180deg,
					white,
					white
				),
				linear-gradient(
					180deg,
					white,
					white
				),
				linear-gradient(
					180deg,
					#00b8e6 0px,
					#ffffff 20px,
					#ffffff 38px,
					#e6e6e6 48px,
					#e6e6e6 55px,
					#ffffff 60px,
					#ffffff 65px
				);
	background-size: 40% 20%, 7% 40%, 7% 40%, 10% 30%, 13% 50%, 12% 40%, 15% 55%, 100%;
	background-position: 10% 60%, 90% 43%, 100% 40%, 45% 30%, 31% 18%, 85% 25%, 65% 12%, 0 0;
	background-repeat: no-repeat;
	color: #0047b3;
	border: 1px solid #e6f0ff;
	box-shadow: 0px 0px 0px 2px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
}
.IA:before {
	content: "Iowa";
	font-family: "Times New Roman";
	font-size: 20px;
	font-style: bold;
	font-weight: 800;
	color: #0047b3;
	position: relative;
	display: block;
	margin-top: -10px;
	margin-bottom: -10px;
}
.IA:after {
	content: "COUNTY NAME";
	font-family: "Arial";
	font-size: 8px;
	font-weight: 400;
	color: #0047b3;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -4px;
}

.IL {
	background: linear-gradient(
	  180deg,
	  #ffffff,
	  #ffffff 40px,
	  #ffffff 40px,
	  #0c87d2 65px,
	  #0969a3 70px
	);
	color: #dd0000;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 0px 2px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	box-sizing: border-box;
}
.IL:before {
	content: "Illinois";
	font-family: "Great Vibes";
	font-size: 20px;
	font-style: italic;
	font-weight: 800;
	color: #0969a3;
	position: relative;
	display: block;
	margin-top: -6px;
	margin-bottom: -10px;
}
.IL:after {
	content: "Land of Lincoln";
	font-family: Georgia;
	font-size: 8px;
	font-weight: 400;
	color: white;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -4px;
}

.IN {
	background-color: white;
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 0px 3px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	color: black;
}
.IN:before{
	content: "INDIANA";
	color: #023d89;
	font-family: Georgia, serif;
	font-size: 12px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -6px;
}
.IN:after{
	content: "BICENTENNIAL 1816-2016";
	color: #023d89;
	font-family: Serif;
	font-size: 8px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -6px;
	background: linear-gradient(180deg, transparent, gold);
	background-position: top;
}

.MI {
	color: dodgerblue;
	background: white;
	border: 3px solid #eeeeee;
}
.MI:before{
	content: "";
	font-family: arial;
	font-size: 8px;
	font-weight: 800;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='23px' width='100px'><text x='0' y='15' fill='dodgerblue' font-size='8' font-family='arial' textLength='30'>PURE</text><text x='28' y='20' fill='dodgerblue' font-size='30' font-style='Oblique' style='font-family:Comic Sans MS, Comic Sans;'>m</text><text x='54' y='15' fill='dodgerblue' font-size='8' font-family='arial' textLength='45'>ICHIGAN</text></svg>") no-repeat 50% top;
	position: relative;
	display: block;
	width: 100%;
	height: 23px;
	margin-top: -10px;
	margin-bottom: -5px;
}
.MI:after{
	content: "michigan.org";
	background:   radial-gradient(white 0%, white 50%, transparent 50%, transparent 100%),
				  linear-gradient(transparent 0%, transparent 20px, dodgerblue 20px, dodgerblue 100%),
				  radial-gradient(dodgerblue 0%, dodgerblue 50%, transparent 50%, transparent 100%);
	background-position: -25% 60%, 0 0, 20% 0%;
	background-size: 70% 30%, 100% 100%, 200% 350%;
	background-repeat: no-repeat;
	color: white;
	font-family: arial;
	font-size: 8px;
	font-weight: 800;
	position: relative;
	display: block;
	width: 100%;
	height: 12px;
	margin-top: -25px;
	padding-top: 20px;
	margin-bottom: -5px;
	padding-bottom: -40px;
}

.NC {
	background: linear-gradient(
					0deg,
					#6aace2 0%,
					transparent 7%
				),
				linear-gradient(
					225deg,
					transparent 0%,
					transparent 40%,
					#6aace2 60%,
					transparent 60%
				);
	background-size: 100% 100%, 5% 150%;
	background-position: 0 0, -500px 8px;
	background-repeat: no-repeat, repeat-x;
	background-color: white;
	position: relative;
	z-index: 1;
	color: #4444ff;
	border: 1px solid #e6f0ff;
	box-shadow: 0px 0px 0px 2px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
}
.NC:before {
	content: "First in Flight";
	font-family: Arial, Verdana;
	font-size: 8px;
	font-weight: 800;
	position: relative;
	z-index: -1;
	display: block;
	color: rgba(255, 0, 0, 0.6);
	height: 20px;
	margin-top: -5px;
	margin-bottom: -12px;
	background: linear-gradient(
					90deg,
					transparent 0%,
					transparent 70%,
					white 70%,
					white 100%
				),
				linear-gradient(
					-15deg,
					white 0%,
					white 40%,
					transparent 40%,
					transparent 62%,
					white 62%
				),
				linear-gradient(
					75deg,
					white 30%,
					transparent 30%,
					transparent 35%,
					#6aace2 35%,
					#6aace2 36%,
					transparent 36%,
					transparent 38%,
					#6aace2 38%,
					#6aace2 39%,
					transparent 39%,
					
					transparent 43%,
					#6aace2 43%,
					#6aace2 44%,
					transparent 44%,
					transparent 46%,
					#6aace2 46%,
					#6aace2 47%,
					transparent 47%,
					
					transparent 53%,
					#6aace2 53%,
					#6aace2 54%,
					transparent 54%,
					transparent 56%,
					#6aace2 56%,
					#6aace2 57%,
					transparent 57%,
					
					transparent 61%,
					#6aace2 61%,
					#6aace2 62%,
					transparent 62%,
					transparent 64%,
					#6aace2 64%,
					#6aace2 65%,
					transparent 65%,
					transparent 70%,
					white 70%
				),
				linear-gradient(
					-15deg,
					transparent 0%,
					transparent 40%,
					#6aace2 40%,
					#6aace2 45%,
					transparent 45%,
					transparent 55%,
					#6aace2 55%,
					#6aace2 62%,
					transparent 62%
				);
	background-size: 100% 100%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: transparent;
}
.NC:after {
	content: "NORTH CAROLINA";
	font-family: Arial, Verdana;
	font-size: 11px;
	font-weight: 800;
	position: relative;
	z-index: -1;
	display: block;
	margin-top: -10px;
	margin-bottom: -5px;
	left: 10px;
	color: rgba(255, 0, 0, 0.6);
	width: 120px;
	white-space: nowrap;
}

.RI {
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 0px 3px #fafafa,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	color: #074ab7;
	background:   radial-gradient(#97afc9 0%, #97afc9 80%, transparent 80%, transparent 100%),
		          linear-gradient(#fafafa 0%, #fafafa 100%),
		          radial-gradient(#fafafa 0%, #fafafa 37%, transparent 36%, transparent 100%),
		          radial-gradient(#97afc9 0%, #97afc9 70%, transparent 60%, transparent 100%);
	background-position: 70 34, 150% 0%, 37 3, -10 13;
	background-size: 300% 200%, 50% 100%, 70% 100%, 100% 140%;
	background-repeat: no-repeat;
	background-color: #fafafa;
	overflow: hidden;
}
.RI:before{
	content: "Rhode Island";
	color: #074ab7;
	font-family: "Times New Roman";
	font-size: 12px;
	font-weight: 400;
	position: relative;
	display: block;
	background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='30px'><text x='10' y='14' style='fill:navy' font-size='18'>\2693</text></svg>");
	background-repeat: no-repeat;
	height: 20px;
	margin-top: -8px;
	margin-bottom: -8px;
}
.RI:after{
	content: "Ocean State";
	color: #074ab7;
	font-family: "Times New Roman";
	font-size: 12px;
	font-weight: 400;
	position: relative;
	display: block;
	background: transparent;
	margin-top: -10px;
	margin-bottom: -4px;
}

.SC {
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 0px 3px #ffffff,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	color: #386ec5;
	background:	radial-gradient(circle, #1e0ad1 0%, #1e0ad1 6%, transparent 14%),
				linear-gradient(#1e0ad1 0%, #1e0ad1 100%),
				linear-gradient(0deg, #1e0ad1 0%, #1e0ad1 15%, #ad4b13 21%, white 60%, #9badff 100%);
	background-position: 0 -3, 50% 75%, 0 0;
	background-size: 100% 100%, 2% 50%, 100% 100%;
	background-repeat: no-repeat;
	background-color: #ffffff;
	overflow: hidden;
}
.SC:before{
	content: "South Carolina";
	color: #1e0ad1;
	font-family: "Times New Roman";
	font-size: 12px;
	font-weight: 800;
	position: relative;
	display: block;
	background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='15px' width='15px'><text x='4' y='10' style='fill:navy' font-size='8'>\1F319</text></svg>");
	background-repeat: no-repeat;
	background-position: 44% 200%;
	height: 20px;
	margin-top: -8px;
	margin-bottom: -8px;
}
.SC:after{
	content: "While I Breathe, I Hope";
	color: white;
	font-family: serif;
	font-size: 8px;
	font-style: italic;
	font-weight: 400;
	position: relative;
	display: block;
	background: transparent;
	margin-top: -10px;
	margin-bottom: -4px;
}

.TX {
	color: black;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='20px'><text x='0' y='20' fill='black' font-size='20'>\272F</text></svg>");
	background-repeat: no-repeat;
	background-position: 5px -3px;
	background-color: white;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 0px 2px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	
}
.TX:before{
	content: "TEXAS";
	font-family: Arial;
	font-size: 15px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -8px;
	margin-bottom: -4px;
}
.TX:after{
	content: "The Lone Star State";
	font-family: Arial;
	font-size: 8px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -10px;
	margin-bottom: -4px;
}

.USPS{
	border: 1px solid #ddd;
	background-color: white;
	padding: 0px;
	font-size: 42px;
	font-family: 'Arial';
	font-weight: 800;
	color: blue;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .2),
				2px 2px 0px 0px rgba(0, 0, 0, .2),
				3px 3px 0px 0px rgba(0, 0, 0, .2);
}

.VA{
	background: white;
	border: 1px solid #eeeeee;
	color: #000080;
	box-shadow: 0px 0px 0px 2px white,
			3px 3px 0px 0px rgba(0, 0, 0, .2),
            4px 4px 0px 0px rgba(0, 0, 0, .2),
            5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
}
.VA:before{
	content: "VIRGINIA";
	font-family: Serif;
	font-size: 12px;
	font-weight: 800;
	color: #0055ee;
	position: relative;
	display: block;
	margin-top: -6px;
	margin-bottom: -4px;
}

.VT {
	background: repeating-linear-gradient(
	  180deg,
	  #006600,
	  #006600 8px,
	  #ffffff 8px,
	  #ffffff 10px,
	  #006600 10px,
	  #006600 50px,
	  #ffffff 50px,
	  #ffffff 52px,
	  #006600 52px,
	  #006600 60px
	);
	border: 2px solid #006600;
	box-shadow: 0px 0px 0px 1px gray,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	color: white;
}

.WA {
	background: linear-gradient(
	  180deg,
	  #ffffff,
	  #ffffff 30px,
	  #add4ea 55px
	);
	position: relative;
	z-index: 1;
	overflow: hidden;
	color: #0c2e63;
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 0px 3px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	
}
.WA:before {
	content: "WASHINGTON";
	color: red;
	font-family: Arial, Verdana;
	font-size: 10px;
	font-weight: 800;
	text-align: left;
	padding-left: 10px;
	position: relative;
	display: block;
	height: 65px;
	margin-bottom: -57px;
	margin-top: -4px;
	z-index: 1;

}
.WA:after {
	content: "EVERGREEN STATE";
	color: red;
	font-family: Arial, Verdana;
	font-size: 8px;
	font-weight: 800;
	z-index: -1;
	background: linear-gradient(-25deg, transparent 40px, #add4ea 40px, #add4ea 41px, white 41px),
	 	          linear-gradient(25deg, transparent 40px, #add4ea 40px, #add4ea 41px, white 41px);
	background-position: left, right;
	background-repeat: no-repeat;
	background-size: 50%, 50%;
	position: relative;
	display: block;
	margin-top: -50px;
	margin-bottom: -5px;
	padding-top: 40px;
	padding-bottom: 2px;
}

.WV {
	background: repeating-linear-gradient(
	  180deg,
	  #000099,
	  #000099 8px,
	  #ffffff 8px,
	  #ffffff 10px,
	  #ffcc00 10px,
	  #ffcc00 12px,
	  #ffffff 12px,
	  #ffffff 50px,
	  #000099 50px,
	  #000099 52px,
	  #ffffff 52px,
	  #ffffff 54px,
	  #ffcc00 54px,
	  #ffcc00 56px,
	  #ffffff 56px,
	  #ffffff 58px,  
	  #000099 58px,
	  #000099 60px,  
	  #ffffff 60px,
	  #ffffff 60px
	);
	border: 1px solid gray;
	box-shadow: 0px 0px 0px 3px white,
				3px 3px 0px 0px rgba(0, 0, 0, .2),
				4px 4px 0px 0px rgba(0, 0, 0, .2),
				5px 5px 0px 0px rgba(0, 0, 0, .2) !important;
	color: #000099;
}