.plate_name {
	display: flex;
	justify-content: flex-start;
}

.plate {
	min-width: 140px;
	text-align: center;
	border: 3px solid;
	border-radius: 5px;
	padding: 7px 0px 5px 0px;
	/*margin-left: 15px;*/
	font-size: 42px;
	font-family: 'License-Plate';
}

.NONE, .UNKNOWN {
	border: 3px dashed gray;
	background: transparent;
	color: gray;
}

.NY {
	border-color: black;
	background-color: #e6b800;
}
.NY:before {
	content: "NEW YORK";
	font-family: Serif;
	font-size: 12px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-bottom: -10px;
	padding-top: 0px;
	top: -10px;
	color: #e6b800;
	background-color: black;
	height: 13px;
	width: 100%;
	border-bottom: 1px solid black;
}
.NY:after {
	content: "Empire State";
	font-family: Serif;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	border-top: 1px solid black;
	padding-top: 40px;
	margin-top: -49px;
	margin-bottom: -5px;
	width: 100%;
}

.NJ {
	background: linear-gradient(yellow, white);
	border-color: white;
	box-shadow: 0px 0px 0px 1px gray;
}
.NJ:before {
	content: "New Jersey";
	font-family: Serif;
	font-size: 14px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-bottom: -8px;
	padding-top: 0px;
	top: -8px;
	color: black;
	height: 13px;
	width: 100%;
}
.NJ:after {
	content: "Garden State";
	font-family: Arial, Verdana;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -10px;
	margin-bottom: 0px;
	color: black;
	margin-bottom: -5px;
	width: 100%;
}

.NYPD {
	font-family: 'Alfa Slab One';
	color: blue;
	padding: 0px 5px 0px 5px;
	border: 4px solid #f1f3f3;
	background-color: white;
	box-shadow: 0px 0px 0px 1px gray;
}

.NYPDsuffix {
	font-family: 'Alfa Slab One';
	font-size: 24px;
}

.FDNY {
	font-family: 'Arial Narrow';
	color: white;
	border-color: white;
	background-color: red;
	box-shadow: 0px 0px 0px 1px gray;
}

.PA {
	background: repeating-linear-gradient(
	  180deg,
	  #0000b3,
	  #0000b3 10px,
	  #ffffff 10px,
	  #ffffff 50px,
	  #ffcc00 50px,
	  #ffcc00 60px
	);
	color: #0000b3;
	border: 2px solid #0000b3;
	box-shadow: 0px 0px 0px 3px white;
}

.MA {
	background: repeating-linear-gradient(
	  180deg,
	  #6699ff,
	  #6699ff 3px,
	  #ffffff 3px,
	  #ffffff 57px,
	  #6699ff 57px,
	  #6699ff 60px
	);
	border: 2px solid white;
	box-shadow: 0px 0px 0px 1px gray;
	color: red;
}

.VT {
	background: repeating-linear-gradient(
	  180deg,
	  #006600,
	  #006600 8px,
	  #ffffff 8px,
	  #ffffff 10px,
	  #006600 10px,
	  #006600 50px,
	  #ffffff 50px,
	  #ffffff 52px,
	  #006600 52px,
	  #006600 60px
	);
	border: 2px solid #006600;
	box-shadow: 0px 0px 0px 1px gray;
	color: white;
}

.NH {
	background: linear-gradient(
	  135deg,
	  #b3e6ff,
	  #b3e6ff 45px,
	  #bfbfbf 65px,
	  #75a3a3 85px
	);
	border: 3px solid white;
	box-shadow: 0px 0px 0px 1px gray;
	color: #004d00;
}

.CT {
	background: linear-gradient(#0099ff, white);
	border-color: #003399;
	color: #003399;
	box-shadow: 0px 0px 0px 3px white;
}
.CT:before {
	content: "Connecticut";
	font-family: Serif;
	font-size: 12px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-bottom: -10px;
	padding-top: 2px;
	top: -8px;
	color: #003399;
	height: 13px;
	width: 100%;
}
.CT:after {
	content: "Constitution State";
	font-family: Serif;
	font-size: 8px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -10px;
	margin-bottom: 0px;
	color: #003399;
	margin-bottom: -5px;
	width: 100%;
}

.ME {
	background: linear-gradient(
	  0deg,
	  #006600,
	  #ffffff 10px,
	  #ffffff 55px,
	  #000000 55px,
	  #000000 60px
	);
	border: 2px solid black;
	box-shadow: 0px 0px 0px 2px white;
	color: black;
}

.IL {
	background: linear-gradient(
	  180deg,
	  #ffffff,
	  #ffffff 40px,
	  #ffffff 40px,
	  #0000ff 70px
	);
	color: #dd0000;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 0px 2px white;
	box-sizing: border-box;
}

.DE {
	background-color: #000099;
	color: yellow;
	border: 2px solid yellow;
	box-shadow: 0px 0px 0px 2px #000099;
}

.WV {
	background: repeating-linear-gradient(
	  180deg,
	  #000099,
	  #000099 8px,
	  #ffffff 8px,
	  #ffffff 10px,
	  #ffcc00 10px,
	  #ffcc00 12px,
	  #ffffff 12px,
	  #ffffff 50px,
	  #000099 50px,
	  #000099 52px,
	  #ffffff 52px,
	  #ffffff 54px,
	  #ffcc00 54px,
	  #ffcc00 56px,
	  #ffffff 56px,
	  #ffffff 58px,  
	  #000099 58px,
	  #000099 60px,  
	  #ffffff 60px,
	  #ffffff 60px
	);
	border: 1px solid gray;
	box-shadow: 0px 0px 0px 3px white;
	color: #000099;
}

.IA {
	background: linear-gradient(
	  180deg,
	  #00b8e6,
	  #ffffff 25px,
	  #ffffff 38px,
	  #e6e6e6 48px,
	  #e6e6e6 53px,
	  #ffffff 53px,
	  #ffffff 60px
	);
	color: #0047b3;
	border: 1px solid #e6f0ff;
	box-shadow: 0px 0px 0px 2px white;
}

.NC {
	background: linear-gradient(
	  180deg,
	  #ffffff,
	  #ffffff 45px,
	  #4444ff 60px
	);
	color: #4444ff;
	border: 1px solid #e6f0ff;
	box-shadow: 0px 0px 0px 2px white;
}
.NC:before {
	content: "First in Flight";
	font-family: Arial, Verdana;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-bottom: -12px;
	left: 10px;
	top: -7px;
	color: rgba(255, 0, 0, 0.5);
	width: 120px;
}
.NC:after {
	content: "NORTH CAROLINA";
	font-family: Arial, Verdana;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	display: block;
	margin-top: -10px;
	margin-bottom: -5px;
	left: 10px;
	color: rgba(255, 0, 0, 0.5);
	width: 120px;
}