html, body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

body.non_map {
    background-color:rgb(150, 150, 150);
    overflow: scroll;
}

#body_map {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	float: left;
	z-index: 1;
	overflow: hidden;
	background: none;
	background: none;
}

#submit_map {
	height: 300px;
	width: 515px;
	background: none;
	border: 1px solid gray;
}

#settings_map {
	width: 400px;
	height: 400px;
	margin: 10px 0px 10px 0px;
}

.gps_map {
	width: 100%;
	height: 100%;
}

.gps_map_container {
	width: 400px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	display: none;
	position: absolute;
}

.entry_view {
	z-index: 99;
	position: absolute;
	top: 0px;
	left: -565px;
	margin: 10px;
	width: 685px;
	max-height: 96vh;
	background-color: rgba(0, 0, 0, 0.2);
	border: 10px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	overflow: hidden;
}

.entry_list_content {
	width: 705px;
	height: 100%;
	overflow: auto;
}

.entry_list_content::-webkit-scrollbar {
	display: none;
}

.single_view {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: -865px;
	max-height: 98vh;
	margin: 1vh;
	padding: 1vh;
	background-color: rgba(255, 255, 255, 0.8);
	border: 10px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	overflow-y: auto;
}

.disqus_thread {
	margin-left: 10px;
	margin-right: 10px;
}

.edit {
	padding: 5px;
	border: 3px solid transparent;
}

.info {
	padding: 5px;
	border: 3px solid transparent;
}

.edit:hover {
	border: 3px dashed gray;
	box-shadow: 3px 3px 7px gray;
}

.edit_comment {
	min-height: 24px;
}

.edit_date, .edit_streets, .edit_gps {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	min-width: 100px;
	min-height: 20px;
	line-height: 16px;
	font-size: 16px;
}

.moderation_queue_details {
	flex: 1;
	margin-left: 7px;
}

.details_top {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.details_bottom {
	margin-top: 10px;
	max-width: 450px;
}

.details_timeplace {
	margin-top: 5px;
}

h2 {
	margin-top: 0px;
	margin-bottom: -10px;
	font-size: 42px;
	font-family: 'Oswald', sans-serif;
	white-space: nowrap;
	text-align: center;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

p.entry_details {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	white-space: nowrap;
}

.main_font {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.transparent_bg {
	background: transparent;
	border: 0 none;
	outline: none;
}

span {
	padding: 0px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

span.left-align {
	text-align: left;
	width: 100%;
	width: 100%;
}

span.form {
	float: left;
	width: 150px;
}

.holder{
	display: none;
	margin: 0px;
	padding: 0px;
	background: none;
}

.column_entry{
	width: 675px;
	padding: 5px;
	min-height: 150px;
	margin: 0px 0px 10px 0px;
	background-color:rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;*/
}

.column_entry_thumbnail {
	display: flex;
	align-items: center;
	vertical-align: middle;
	min-width: 200px;
	margin-left: 10px;
	background: none;
}

.column_entry_info {
	display: table-cell;
	vertical-align: top;
	padding: 0px;
	width: 375px;
	height: 150px;
	background: none;
}

.entry_comment {
	max-width: 400px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding: 0px;
	margin-top: 10px;
	line-height: 20px;
	margin-bottom: 0px;
}

.column_entry a:hover {
	text-decoration: underline;
}

.thumbnail {
	display:block;
	//max-width: 150px;
	//max-height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.fullsize {
	display:block;
	max-width: 800px;
	max-height: 800px;
	margin-left: auto;
	margin-right: auto;
}

.right_menu {
	position: absolute;
	text-align: right;
	z-index: 99;
	top: 0px;
	right: 0px;
	margin-top: 12px;
}

#submit_link, #about_link {
	cursor: pointer;
}

#loading {
	width: 42px;
	height: 42px;
	background: none;
}

.right_menu_item {
	position: relative;
	display: inline-block;
	right: 0px;
	text-align: right;
	background-color:rgba(255, 255, 255, 0.8);
	//background-color:rgba(0, 0, 0, 0.8);
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.top_dialog_button {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-right: 20px;
	margin-top: 20px;
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: center;
	border: 1px solid gray;
	cursor:pointer;
}

.submission_form, .results_view {
	z-index: 100;
	position: absolute;
	top: 0px;
	right: -565px;
	margin: 10px;
	width: 555px;
	background-color: rgba(0 ,0, 0, 0.2);
}

.submission_form_container,
.results_view_container {
	margin: 10px;
	padding: 10px;
	background-color:rgba(255, 255, 255, 0.8);
}

.about_view {
	z-index: 100;
	position: absolute;
	top: 0px;
	right: -605px;
	margin: 10px;
	padding: 10px;
	width: 555px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 10px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	overflow: auto;
}

.about_view a {
	color: black;
	text-decoration: underline;
}

.about_view a:hover {
	color: blue;
	text-decoration: underline;
}

.submit_form_row{
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.submit_form_item {
	line-height: 30px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

#plate {
	background: white;
	background-size: 50%;
}

textarea.description {
	width: 100%;
	height: 75px;
}

textarea.settings {
	height: 150px;
	width: 100%;
	resize: vertical;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
}

#character_limit {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#feedback {
	margin: 0px;
	padding: 0px;
	background: none;
	display: inline;
}

input.submit_button {
	width: 500px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.leaflet-control-zoom {
	opacity: 0.5;
	margin-left: 735px !important;
}

.leaflet-control-zoom:hover {
	opacity: 1.0;
	margin-left: 735px !important;
}

.flex_container_scroll {
	width: 100%;
	display: flex;
	justify-content: center;
}

.flex_container_oneline {
	width: 100%;
	display: flex;
	wrap: nowrap;
	justify-content: space-between;
}

.flex_container_dialog {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_container_dialog_float {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.flex_container_nav {
	background-color:rgba(255, 255, 255, 0.9);
	width: 100%;
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: center;
}

.user_list_row {
	width: 100%;
	padding: 0px;
	margin: 2px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
}

.user_list_name {
	width: 120px;
	overflow: hidden;
	white-space: nowrap;
}

.user_list_admin {
	width: 80px;
	text-align: center;
}

.user_list_email {
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
}

.user_list_delete {
	width: 50px;
	text-align: center;
}

.setup_centered {
	background-color:rgba(255, 255, 255, 0.9);
	width: 600px;
	padding: 10px;
	margin: 10px;
}

.moderation_queue {
	min-width: 600px;
	padding: 0px;
	margin: 0px;
}

.settings_container {
	width: 600px;
	padding: 0px;
	margin: 0px;
}

.moderation_queue_row, .settings_box {
	background-color:rgba(255, 255, 255, 0.8);
	width: 100%;
	min-height: 50px;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.moderation_queue_buttons {
	width: 150px;
}

.mod_queue_img_container {
	min-width: 200px;
	min-height: 200px;
	margin: 0px 10px 0px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.settings_group {
	width: 400px;
	margin: 0px auto;
	/*background: rgba(255,0,0,.5);*/
}

button, input.bold_button, form.bold_form {
	height: 36px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

.bold_button_square {
	height: 36px;
	width: 36px;
	margin: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

button.rotate {
	width: 50%;
	font-size: 24px;
}

input[type="text"].wide,
input[type="password"].wide,
select.wide {
	height: 24px;
	width: 100%;
}

input[type="text"].half_wide {
	height: 24px;
	width: 49%;
}

input[type="text"].nav {
	width: 40px;
	height: 25px;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
}

.disabled {
	color : gray;
}

form {
margin: 0px;
padding: 0px;
border: 0px;
}

.nav_option {
	margin: 15px 10px 12px 10px;
}

input[type="submit"].wide {
	height: 36px;
	width: 100%;
	margin-top: 20px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

img.review {
	display: block;
	margin: 0 auto;
	flex-shrink: 0;
}

.centered_form {
	margin: 0 auto;
}

p.tinytext {
	word-wrap: break-word;
	text-align: left;
	margin-top: 3px;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
}

.multiple_select {
	height: 200px !important;
}

.upload_button {
	height: 48px;
	/*margin: 1vh auto 5vh auto;*/
	margin-top: 5px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	line-height: 48px;
	background-color: lightgray;
    box-shadow: inset -2px -2px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
                inset 2px 2px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.v-centered {
	display: inline-block;
    vertical-align: middle;
    line-height: inherit;
}

#upload {
	visibility: hidden;
	position: absolute;
	-webkit-appearance: none;
	opacity: 0;
}

.plate_link:hover {
	box-shadow: 0px 12px 0px -10px black;
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.plate_link:active {
	box-shadow: 0px 12px 0px -10px black;
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.column_entry:hover {
	background: rgba(255, 255, 255, 0.9);
	cursor: pointer;
}

.column_entry:active {
	background: rgba(255, 255, 255, 1.0);
	cursor: pointer;
}

.disqus-comment-count {
	display: inline-block;
	border-radius: 500px;
	padding: 1px 4px 1px 4px;
	margin: 2px;
	background: rgba(255, 0, 0, 0.2);
}

.map_marker {
	width: 24px;
	height: 24px;
	background: url('x.svg') no-repeat;
	background-position: 0 0;
	background-size: 24px 24px;
	cursor: pointer;
}

.map_marker_shadow {
	width: 24px;
	height: 24px;
	background: url('x_shadow.svg') no-repeat;
	background-position: 0 0;
	background-size: 24px 24px;
}