html, body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

body.non_map {
    background-color:rgb(150, 150, 150);
    overflow: scroll;
}

#body_map {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	float: left;
	z-index: 1;
	overflow: hidden;
	background: none;
}

#submit_map {
	height: 300px;
	width: 515px;
	background: none;
	border: 1px solid gray;
}

#settings_map {
	width: 400px;
	height: 400px;
	margin: 10px 0px 10px 0px;
}

.gps_map {
	width: 100%;
	height: 100%;
}

.gps_map_container {
	width: 400px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	display: none;
	position: absolute;
}

.plate_name {
	display: flex;
	justify-content: flex-start;
}

.plate {
	min-width: 140px;
	text-align: center;
	border: 3px solid;
	border-radius: 5px;
	padding: 7px 0px 5px 0px;
	/*margin-left: 15px;*/
	font-size: 42px;
	font-family: 'License-Plate';
}

.NY {
	border-top: 10px solid black;
	border-color: black;
	background-color: #e6b800;
}

.NJ {
	background: linear-gradient(yellow, white);
	border-color: white;
	box-shadow: 0px 0px 0px 1px gray;
}

.NYPD {
	font-family: 'Alfa Slab One';
	color: blue;
	padding: 0px 5px 0px 5px;
	border-color: white;
	background-color: white;
	box-shadow: 0px 0px 0px 1px gray;
}

.NYPDsuffix {
	font-family: 'Alfa Slab One';
	font-size: 24px;
}

.FDNY {
	font-family: 'Arial Narrow';
	color: white;
	border-color: white;
	background-color: red;
	box-shadow: 0px 0px 0px 1px gray;
}

.PA {
background: repeating-linear-gradient(
  180deg,
  #0000b3,
  #0000b3 10px,
  #ffffff 10px,
  #ffffff 50px,
  #ffcc00 50px,
  #ffcc00 60px
);
color: #0000b3;
border: 2px solid #0000b3;
box-shadow: 0px 0px 0px 3px white;
}

.MA {
background: repeating-linear-gradient(
  180deg,
  #6699ff,
  #6699ff 3px,
  #ffffff 3px,
  #ffffff 57px,
  #6699ff 57px,
  #6699ff 60px
);
border: 2px solid white;
box-shadow: 0px 0px 0px 1px gray;
color: red;
}

.VT {
background: repeating-linear-gradient(
  180deg,
  #006600,
  #006600 8px,
  #ffffff 8px,
  #ffffff 10px,
  #006600 10px,
  #006600 50px,
  #ffffff 50px,
  #ffffff 52px,
  #006600 52px,
  #006600 60px
);
border: 2px solid #006600;
box-shadow: 0px 0px 0px 1px gray;
color: white;
}

.NH {
background: linear-gradient(
  135deg,
  #b3e6ff,
  #b3e6ff 45px,
  #bfbfbf 65px,
  #75a3a3 85px
);
border: 3px solid white;
box-shadow: 0px 0px 0px 1px gray;
color: #004d00;
}

.CT {
	background: linear-gradient(#0099ff, white);
	border-color: #003399;
	color: #003399;
	box-shadow: 0px 0px 0px 3px white;
}

.ME {
background: linear-gradient(
  0deg,
  #006600,
  #ffffff 10px,
  #ffffff 55px,
  #000000 55px,
  #000000 60px
);
border: 2px solid black;
box-shadow: 0px 0px 0px 2px white;
color: black;
}

.DE {
background-color: #000099;
color: yellow;
border: 2px solid yellow;
box-shadow: 0px 0px 0px 2px #000099;
}

.WV {
background: repeating-linear-gradient(
  180deg,
  #000099,
  #000099 8px,
  #ffffff 8px,
  #ffffff 10px,
  #ffcc00 10px,
  #ffcc00 12px,
  #ffffff 12px,
  #ffffff 50px,
  #000099 50px,
  #000099 52px,
  #ffffff 52px,
  #ffffff 54px,
  #ffcc00 54px,
  #ffcc00 56px,
  #ffffff 56px,
  #ffffff 58px,  
  #000099 58px,
  #000099 60px,  
  #ffffff 60px,
  #ffffff 60px
);
border: 1px solid gray;
box-shadow: 0px 0px 0px 3px white;
color: #000099;
}

.edit {
	padding: 5px;
	border: 3px solid transparent;
}

.edit:hover {
	border: 3px dashed gray;
	box-shadow: 3px 3px 7px gray;
}

.edit_comment {
	min-height: 24px;
}

.edit_date, .edit_streets, .edit_gps {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	min-width: 100px;
	min-height: 20px;
	line-height: 20px;
}

.moderation_queue_details {
	flex: 1;
}

.details_top {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.details_bottom {
	margin-top: 10px;
}

.details_timeplace {
	margin-left: 10px;
	margin-top: 5px;
}

h2 {
	margin-top: 0px;
	margin-bottom: -10px;
	font-size: 42px;
	font-family: 'Oswald', sans-serif;
	white-space: nowrap;
	text-align: center;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
}

#about a {
	color: black;
	text-decoration: underline;
}

#about a:hover {
	color: blue;
	text-decoration: underline;
}

p {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

p.entry_details {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	white-space: nowrap;
}

.main_font {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.transparent_bg {
	background: transparent;
	border: 0 none;
	outline: none;
}

span {
	padding: 0px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

span.left-align {
	text-align: left;
	width: 100%;
}

span.form {
	float: left;
	width: 150px;
}

.entry_list{
	z-index: 99;
	position: absolute;
	top: 0px;
	left: -565px;
	margin: 10px;
	width: 555px;
	height: 97%;
	background-color: rgba(255,255,255,0.5);
	overflow: hidden;
}

.inner_container{
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-right: 15px;
}

.holder{
	display: none;
	margin: 0px;
	padding: 0px;
	background: none;
}

.column_entry{
	width: 535px;
	min-height: 150px;
	margin: 10px;
	background-color:rgba(255, 255, 255, 0.8);
}

.column_entry_thumbnail {
	display: table-cell;
	vertical-align: middle;
	width: 160px;
	height: 150px;
	background: none;
}

.column_entry_info {
	display: table-cell;
	vertical-align: top;
	padding: 0px;
	width: 375px;
	height: 150px;
	background: none;
}

.entry_comment {
	max-width: 400px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding: 0px;
	margin-top: 10px;
	line-height: 20px;
	margin-bottom: 0px;
}

.column_entry a:hover {
	text-decoration: underline;
}

.thumbnail {
	display:block;
	max-width: 150px;
	max-height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.fullsize {
	display:block;
	max-width: 800px;
	max-height: 800px;
	margin-left: auto;
	margin-right: auto;
}

.right_menu {
	position: absolute;
	text-align: right;
	z-index: 99;
	top: 0px;
	right: 0px;
	margin-top: 12px;
}

#submit_link, #about_link {
	cursor: pointer;
}

.right_menu_item {
	position: relative;
	display: inline-block;
	right: 0px;
	text-align: right;
	background-color:rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.top_dialog_button {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-right: 20px;
	margin-top: 20px;
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: center;
	border: 1px solid gray;
	cursor:pointer;
}

/*.entry_comment {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}*/

.submission_form, .results_form, #about{
	z-index: 100;
	position: absolute;
	top: 0px;
	right: -565px;
	margin: 10px;
	width: 555px;
	background-color:rgba(255, 255, 255, 0.5);
}

.submission_form_container,
.about_container,
.results_form_container,
.single_view_pane_container{
	margin: 10px;
	padding: 10px;
	background-color:rgba(255, 255, 255, 0.8);
}

.submit_form_row{
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.submit_form_item {
	line-height: 30px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.single_view_pane {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: -865px;
	max-height: 97%;
	overflow-y: scroll;
	margin: 10px;
	background-color:rgba(255, 255, 255, 0.5);
}

textarea.description {
	width: 100%;
	height: 75px;
}

textarea.settings {
	height: 150px;
	width: 100%;
	resize: vertical;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
}

#character_limit {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#feedback {
	margin: 0px;
	padding: 0px;
	background: none;
	display: inline;
}

input.submit_button {
	width: 500px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.leaflet-control-zoom {
	opacity: 0.5;
}

.leaflet-control-zoom:hover {
	opacity: 1.0;
}


.leaflet-left {
	padding-left: 565px !important;
}

.flex_container_scroll {
	width: 100%;
	display: flex;
	justify-content: center;
}

.flex_container_oneline {
	width: 100%;
	display: flex;
	wrap: nowrap;
	justify-content: space-between;
}

.flex_container_dialog {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_container_dialog_float {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.flex_container_nav {
	background-color:rgba(255, 255, 255, 0.9);
	width: 100%;
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: center;
}

.user_list_row {
	width: 100%;
	padding: 0px;
	margin: 2px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
}

.user_list_name {
	width: 120px;
	overflow: hidden;
	white-space: nowrap;
}

.user_list_admin {
	width: 80px;
	text-align: center;
}

.user_list_email {
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
}

.user_list_delete {
	width: 50px;
	text-align: center;
}

.setup_centered {
	background-color:rgba(255, 255, 255, 0.9);
	width: 600px;
	padding: 10px;
	margin: 10px;
}

.moderation_queue {
	min-width: 600px;
	padding: 0px;
	margin: 0px;
}

.settings_container {
	width: 600px;
	padding: 0px;
	margin: 0px;
}

.moderation_queue_row, .settings_box {
	background-color:rgba(255, 255, 255, 0.9);
	width: 100%;
	min-height: 50px;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.moderation_queue_buttons {
	width: 150px;
}

.mod_queue_img_container {
	min-width: 200px;
	margin: 0px 10px 0px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.settings_group {
	width: 400px;
	margin: 0px auto;
	/*background: rgba(255,0,0,.5);*/
}

button, input.bold_button, form.bold_form {
	height: 36px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

.bold_button_square {
	height: 36px;
	width: 36px;
	margin: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

button.rotate {
	width: 50%;
	font-size: 24px;
}

input[type="text"].wide,
input[type="password"].wide,
select.wide {
	height: 24px;
	width: 100%;
}

input[type="text"].half_wide {
	height: 24px;
	width: 49%;
}

input[type="text"].nav {
	width: 40px;
	height: 25px;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
}

.disabled {
	color : gray;
}

form {
margin: 0px;
padding: 0px;
border: 0px;
}

.nav_option {
	margin: 15px 10px 12px 10px;
}

input[type="submit"].wide {
	height: 36px;
	width: 100%;
	margin-top: 20px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

img.review {
	display: block;
	margin: 0 auto;
	flex-shrink: 0;
}

.centered_form {
	margin: 0 auto;
}

p.tinytext {
	word-wrap: break-word;
	text-align: left;
	margin-top: 3px;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
}